{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    {% include 'layout/header.html.twig' with
        {
            'data': tasks,
            'page': 'Tasks',
            'path': 'home',
            'filter': true,
            'buttonNew': 'New Task',
            'form': form
        }
    %}
<!-- Main content -->
<section class="content">
    <div class="content-wrapper kanban">
    <section class="content pb-3">
        <div class="container-fluid h-100">
            {% for statusElement in status %}
                <div class="card card-row card-{{ statusElement.color }}">
                    <div class="card-header">
                        <h3 class="card-title">
                            {{ statusElement.name }}
                        </h3>
                    </div>
                    <div class="card-body">
                        {% for task in tasks %}
                            {% if (task.status.name == statusElement.name) %}
                        <div class="card card-{{ statusElement.color }} card-outline">
                            <div class="card-header">
                                <h5 class="card-title">{{ task.title }}</h5>
                                <div class="card-tools">
                                    {{ include ('task/modal.html.twig', {'task' : task}) }}
                                    <a href="{{ path('task_edit', {'id': task.id}) }}" class="btn btn-tool">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="card-body">
                                <p> {{ task.description | raw }} </p>
                            </div>
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
</section>
{% endblock %}
