{% extends 'base.html.twig' %}

{% block title %}Regel{% endblock %}

{% block body %}
    <h1>Regel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ regel.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ regel.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ regel.description }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ regel.priority }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('regel_index') }}">back to list</a>

    <a href="{{ path('regel_edit', {'id': regel.id}) }}">edit</a>

    {{ include('regel/_delete_form.html.twig') }}
{% endblock %}
