<!-- Notifications Dropdown Menu -->
<li id="bell" class="nav-item dropdown {{ notifications.getNotifications|length == 0 ? 'notification-read' }}"
    data-notification-count="{{ notifications.getNotifications|length }}"
    data-update="{{ path('notification-status-update', {'id': app.user.id}) }}">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">{{ notifications.getNotifications|length }}</span>
    </a>
    <di class="dropdown-menu dropdown-menu-lg dropdown-menu-right">


        <span class="dropdown-item dropdown-header">{{ notifications.getNotifications|length }} Notifications</span>
        <div class="dropdown-divider"></div>
        <div class="bell-container">
        <div id="notification-center" class="{{ (notifications.getNotifications is empty) ? 'bell-empty-content' : 'bell-content' }}">
            {% if notifications.getNotifications is not empty %}
                {% for notification in notifications.getNotifications %}
                    {% set timer =  date('now').diff(date(notification.createdAt)) %}

                    <a href="{{ absolute_url(notification.targetLink) }}" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> <b>{{ notification.createdBy.username }}</b> {{ 'navbar.notification.article_created'|trans }}
                        <span class="float-right text-muted text-sm">{{ timer|date() }}</span>
                    </a>
                {% endfor %}
            {% else %}
                <span>{{ 'navbar.notification.no-notification'|trans }}</span>
            {% endif %}
        </div>
        </div>
        <div class="dropdown-divider"></div>

        <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
        </a>

        <div class="dropdown-divider"></div>

        <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
        </a>

        <div class="dropdown-divider"></div>

        <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
        </a>

        <div class="dropdown-divider"></div>

        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
    </di>
</li>
