{% set minLimit = page - 3 %}
{% set maxLimit = page + 3 %}
{% set hellipMin = 0 %}
{% set hellipMax = 0 %}
{% set arrayPages = range(1, nbPages) %}
<nav class="pagination" role="navigation" aria-label="Page navigation example"
    {% set classAlign = (align is not defined) ? '' : align=='center' ? ' justify-content-center' : (align=='right' ? ' justify-content-end' : '') %}
    {% set classSize = (size is not defined) ? '' : size=='large' ? ' pagination-lg' : (size=='small' ? ' pagination-sm' : '') %}>
    <ul class="pagination{{ classAlign }}{{ classSize }} justify-content-center">
        {% for p in arrayPages %}
            {% if p > minLimit and p < maxLimit or p == min(arrayPages) or p == min(arrayPages) + 1 or p == max(arrayPages) or p == max(arrayPages) - 1 %}
                <li class="page-item">
                    <a class="page-link bg-dark" href="{{ path(app.request.get('_route'), {'page': p}) }}"
                       aria-label="Goto page {{ p }}">{{ p }}</a>
                </li>
            {% else %}
                {% if hellipMin != 1 and minLimit > min(arrayPages) and minLimit > min(arrayPages) + 1 %}
                    <li class="page-item">
                        <span class="page-link bg-dark">&hellip;</span>
                    </li>
                    {% set hellipMin = 1 %}
                {% elseif hellipMax != 1 and maxLimit < max(arrayPages) and maxLimit < max(arrayPages) - 1 %}
                    <li class="page-item">
                        <span class="page-link bg-dark">&hellip;</span>
                    </li>
                    {% set hellipMax = 1 %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>


